@font-face {
  font-family: "Public_Sans Regular";
  src: url("../fonts/Public_Sans/PublicSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Ibarra_Real_Nova Bold";
  src: url("../fonts/Ibarra_Real_Nova/IbarraRealNova-VariableFont_wght.ttf");
}
.Ibarra, .contact__input-title, .contact__about-title, .home__contact-info, .home__about--info-title, .home__home--info p, .portfolio__sections-title, .fylo__info-title, .insure__info-title, .bookmark__info-title, .manage__info-title {
  font-family: "Ibarra_Real_Nova Bold";
  font-style: normal;
  font-weight: 700;
}

.Public_Seans, .contact__input--form-btn, .contact__input--form-label input, .contact__input--form-label textarea, .contact__input--form-label p, .contact__about--info-text, .home__contact-btn, .home__about--info-btn, .home__about--info-text, .home__home--info-btn p, .footer__menu---list--item-link, .nav__list--item-link, .portfolio__sections-btn, .fylo__info-btn, .insure__info-btn, .bookmark__info-btn, .manage__info-btn, .portfolio__sections-text, .fylo__info-text, .insure__info-text, .bookmark__info-text, .manage__info-text {
  font-family: "Public_Sans Regular";
  font-style: normal;
  font-weight: 400;
}

.portfolio_container, .fylo__container, .insure__container, .bookmark__container, .manage__container {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.portfolio__sections-info, .fylo__info, .insure__info, .bookmark__info, .manage__info {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(51, 50, 61, 0.171);
  border-top: 1px solid rgba(51, 50, 61, 0.171);
}

.portfolio__sections-title, .fylo__info-title, .insure__info-title, .bookmark__info-title, .manage__info-title {
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.portfolio__sections-text, .fylo__info-text, .insure__info-text, .bookmark__info-text, .manage__info-text {
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.portfolio__sections-btn, .fylo__info-btn, .insure__info-btn, .bookmark__info-btn, .manage__info-btn {
  max-width: 175px;
  max-height: 48px;
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;
  border: 1px solid #33323D;
}

.btn__hover, .fylo__info-btn:hover, .insure__info-btn:hover, .bookmark__info-btn:hover, .manage__info-btn:hover, .home__contact-btn:hover, .home__about--info-btn:hover {
  color: rgb(249, 253, 255);
  background-color: rgb(81, 76, 70);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  box-sizing: border-box;
}

.nav {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 35px;
}

.nav__logo, .footer__menu-logo {
  width: 60px;
  height: 32px;
  cursor: pointer;
}

.nav__list, .footer__menu---list {
  display: flex;
  width: 30%;
  justify-content: space-between;
  list-style-type: none;
}

.nav__list--item-link {
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #33323D;
}
.nav__list--item-link:hover {
  color: chartreuse;
}
.nav__list--item-link:active {
  color: rgb(95, 180, 162);
}

.active {
  color: rgb(95, 180, 162);
}

footer {
  background: #33323D;
  min-width: 100%;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.footer__menu---list {
  width: 60%;
}

.footer__menu---list--item-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__menu---list--item-link:hover {
  color: chartreuse;
}

.footer__social {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.footer__social-icon {
  cursor: pointer;
}

@media only screen and (max-width: 926px) {
  .container {
    max-width: 689px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 926px) {
  .nav {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 35px;
  }
  .nav__logo, .footer__menu-logo {
    width: 60px;
    height: 32px;
  }
  .nav__list, .footer__menu---list {
    display: flex;
    width: 40%;
    justify-content: space-between;
    list-style-type: none;
  }
  .nav__list--item-link {
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #33323D;
  }
  .nav__list--item-link:active {
    color: rgb(95, 180, 162);
  }
  .active {
    color: rgb(95, 180, 162);
  }
}
@media only screen and (max-width: 926px) {
  footer {
    background: #33323D;
    min-width: 768px;
    align-items: center;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  .footer__menu-logo {
    width: 61px;
  }
  .footer__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 418px;
  }
  .footer__menu---list {
    width: 70%;
  }
  .footer__menu---list--item-link {
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .footer__menu---list--item-link:hover {
    color: chartreuse;
  }
  .footer__social {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 20%;
  }
}
.home__home {
  margin-top: 18px;
  padding-top: 45px;
}

.home__home-container {
  position: relative;
  min-height: 600px;
  background-image: url("../images/Home_Bitmap.jpg");
}

.home__home--info {
  position: absolute;
  bottom: 0;
  background-color: #FAFAFA;
  min-width: 445px;
  min-height: 357px;
}

.home__home--info p {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.446429px;
  color: #33323D;
  width: 390px;
  height: 200px;
}

.home__home--info-btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 48px;
  background: rgb(32, 58, 76);
  position: absolute;
  bottom: 0;
}

.home__home--info-btn span {
  display: flex;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  background: rgba(0, 0, 0, 0.2470588235);
  opacity: 0.5;
}

.home__home--info-btn span img {
  margin: 0 auto;
  width: 16px;
  height: 12px;
}

.home__home--info-btn p {
  height: auto;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.home__about {
  height: auto;
  padding-top: 150px;
}

.home__about-container {
  display: flex;
  justify-content: space-between;
  min-height: 600px;
}

.home__about--info {
  border-bottom: 1px solid rgba(51, 50, 61, 0.171);
  border-top: 1px solid rgba(51, 50, 61, 0.171);
  max-width: 350px;
  height: 600px;
  margin-right: 105px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.home__about--info-title {
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.home__about--info-text {
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.home__about--info-btn {
  max-width: 175px;
  max-height: 45px;
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;
  border: 1px solid #33323D;
}

.home__contact-container {
  margin: 96px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__contact-info {
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
  max-width: 350px;
  max-height: 84px;
}

.home__contact-btn {
  max-width: 162px;
  max-height: 45px;
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;
  border: 1px solid #33323D;
}

@media only screen and (max-width: 926px) {
  .home__home {
    padding-top: 45px;
  }
  .home__home-container {
    position: relative;
    min-height: 600px;
    max-width: 688px;
    background-image: url("../../images/tablet_home_home.jpg");
    background-size: contain;
  }
  .home__home--info {
    position: absolute;
    bottom: 0;
    background-color: #FAFAFA;
    min-width: 514px;
    min-height: 278px;
  }
  .home__home--info p {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    width: 458px;
    height: 126px;
  }
  .home__home--info-btn {
    display: flex;
    align-items: center;
    width: 200px;
    height: 48px;
    background: rgb(32, 58, 76);
    position: absolute;
    bottom: 0;
  }
  .home__home--info-btn span {
    display: flex;
    align-items: center;
    min-width: 48px;
    min-height: 48px;
    background: rgba(0, 0, 0, 0.2470588235);
    opacity: 0.5;
  }
  .home__home--info-btn span img {
    margin: 0 auto;
    width: 16px;
    height: 12px;
  }
  .home__home--info-btn p {
    height: auto;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
@media only screen and (max-width: 926px) {
  .home__about {
    height: auto;
    padding-top: 96px;
  }
  .home__about-img img, .home__about-img {
    max-width: 281px;
    min-height: 600px;
  }
  .home__about-container {
    max-width: 688px;
    display: flex;
    justify-content: space-between;
    min-height: 600px;
  }
  .home__about--info {
    border-bottom: 1px solid rgba(51, 50, 61, 0.171);
    border-top: 1px solid rgba(51, 50, 61, 0.171);
    height: 600px;
    margin-right: 0;
  }
  .home__about--info-title {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin: 10px 0 0 0;
  }
  .home__about--info-text {
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    max-width: 399px;
    max-height: 360px;
    margin: 0px;
  }
  .home__about--info-btn {
    max-width: 175px;
    max-height: 45px;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    border: 1px solid #33323D;
    margin-top: 0;
  }
}
@media only screen and (max-width: 926px) {
  .home__contact-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .home__contact-info {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    max-width: 350px;
    max-height: 84px;
  }
  .home__contact-btn {
    max-width: 162px;
    max-height: 45px;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    border: 1px solid #33323D;
  }
}
.manage__container {
  margin-top: 100px;
}

.manage__info {
  margin-right: 105px;
}

.bookmark__container {
  margin-top: 100px;
}

.bookmark__info {
  margin-left: 95px;
}

.insure__container {
  margin-top: 100px;
}

.insure__info {
  margin-right: 105px;
}

.fylo__container {
  margin-top: 100px;
}

.fylo__info {
  margin-left: 95px;
}

@media only screen and (max-width: 926px) {
  .manage__container {
    margin-top: 100px;
    height: 416px;
  }
  .manage__img img {
    max-width: 339px;
    max-height: 314px;
    margin-top: 51px;
  }
  .manage__info {
    margin-right: 0px;
    width: 281px;
    justify-content: start;
  }
  .manage__info-title {
    margin-top: 32px;
  }
  .manage__info-text {
    font-size: 15px;
    margin-top: 0px;
  }
}
@media only screen and (max-width: 926px) {
  .bookmark__container {
    margin-top: 80px;
    height: 416px;
  }
  .bookmark__img img {
    max-width: 339px;
    max-height: 314px;
    margin-top: 51px;
  }
  .bookmark__info {
    margin-left: 0px;
    width: 281px;
    justify-content: start;
  }
  .bookmark__info-title {
    margin-top: 32px;
  }
  .bookmark__info-text {
    font-size: 15px;
    margin-top: 0px;
  }
}
@media only screen and (max-width: 926px) {
  .insure__container {
    margin-top: 100px;
    height: 416px;
  }
  .insure__img img {
    max-width: 339px;
    max-height: 314px;
    margin-top: 51px;
  }
  .insure__info {
    margin-right: 0px;
    width: 281px;
    justify-content: start;
  }
  .insure__info-title {
    margin-top: 32px;
  }
  .insure__info-text {
    font-size: 15px;
    margin-top: 0px;
  }
}
@media only screen and (max-width: 926px) {
  .fylo__container {
    margin-top: 80px;
    height: 416px;
  }
  .fylo__img img {
    max-width: 339px;
    max-height: 314px;
    margin-top: 51px;
  }
  .fylo__info {
    margin-left: 0px;
    width: 281px;
    justify-content: start;
  }
  .fylo__info-title {
    margin-top: 32px;
  }
  .fylo__info-text {
    font-size: 15px;
    margin-top: 0px;
  }
}
.contact__about-container {
  margin-top: 94px;
  max-height: 354px;
  padding: 48px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(51, 50, 61, 0.171);
}

.contact__about-title {
  font-size: 40px;
  margin-top: 0;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.contact__about--info {
  max-width: 635px;
}

.contact__about--info-text {
  margin-top: 0;
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.contact__about--info-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 15%;
  padding-left: 0;
}

.contact__input-container {
  max-height: auto;
  padding: 48px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(51, 50, 61, 0.171);
}

.contact__input-title {
  font-size: 40px;
  margin-top: 0;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.contact__input--form {
  margin-top: 0;
  max-width: 635px;
}

.contact__input--form-label p {
  font-size: 13px;
  line-height: 30px;
  color: #1f1f24;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 635px;
  height: 30px;
}

.contact__input--form-label input, .contact__input--form-label textarea {
  font-size: 13px;
  line-height: 30px;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 635px;
  height: 30px;
  background-color: rgba(51, 50, 61, 0.2509803922);
  border: none;
}

.contact__input--form-label:nth-child(3) textarea {
  height: 96px;
}

.contact__input--form-btn {
  margin-top: 24px;
  width: 200px;
  height: 48px;
  background: #203A4C;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.contact__input--form-btn:hover {
  color: rgb(39, 45, 43);
  background-color: rgb(235, 223, 209);
}

@media only screen and (max-width: 926px) {
  .contact__about-container {
    margin-top: 94px;
    max-height: 358px;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid rgba(51, 50, 61, 0.171);
  }
  .contact__about-title {
    font-size: 40px;
    margin-top: 0;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
  }
  .contact__about--info {
    max-width: 689px;
  }
  .contact__about--info-text {
    margin-top: 0px;
    font-size: 15px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .contact__about--info-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 104px;
    padding-left: 0;
  }
}
@media only screen and (max-width: 926px) {
  .contact__input-container {
    max-height: auto;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid rgba(51, 50, 61, 0.171);
  }
  .contact__input-title {
    font-size: 40px;
    margin-top: 0;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
  }
  .contact__input--form {
    margin-top: 0;
    max-width: 635px;
  }
  .contact__input--form-label p {
    font-size: 13px;
    line-height: 30px;
    color: #1f1f24;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 635px;
    height: 30px;
  }
  .contact__input--form-label input, .contact__input--form-label textarea {
    font-size: 13px;
    line-height: 30px;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 635px;
    height: 30px;
    background-color: rgba(51, 50, 61, 0.2509803922);
    border: none;
  }
  .contact__input--form-label:nth-child(3) textarea {
    height: 96px;
  }
  .contact__input--form-btn {
    margin-top: 24px;
    width: 200px;
    height: 48px;
    background: #203A4C;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
  }
  .contact__input--form-btn:hover {
    color: rgb(39, 45, 43);
    background-color: rgb(235, 223, 209);
  }
}/*# sourceMappingURL=style.css.map */