@font-face {
    font-family: "Public_Sans Regular";
    src: url("../fonts/Public_Sans/PublicSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Ibarra_Real_Nova Bold";
    src: url("../fonts/Ibarra_Real_Nova/IbarraRealNova-VariableFont_wght.ttf");
}