@media only screen and (max-width: 926px) {

    .manage__container {
        @extend .portfolio_container;
        margin-top: 100px;
        height: 416px;
    }

    .manage__img img {
        max-width: 339px;
        max-height: 314px;
        margin-top: 51px;
    }

    

    .manage__info {
        @extend .portfolio__sections-info;
        margin-right: 0px;
        width: 281px;
        justify-content: start;
    }

    .manage__info-title {
        @extend .portfolio__sections-title;
        margin-top: 32px;
    }

    .manage__info-text {
        @extend .portfolio__sections-text;
        font-size: 15px;
        margin-top: 0px;
    }

    .manage__info-btn {
        @extend .portfolio__sections-btn;
    }

    .manage__info-btn:hover {
        @extend .btn__hover;
    }
}