@media only screen and (max-width: 926px) {

    .home__home {
        padding-top: 45px;
    }

    .home__home-container {
        position: relative;
        min-height: 600px;
        max-width: 688px;
        background-image: url("../../images/tablet_home_home.jpg");
        background-size: contain;
    }

    .home__home--info {
        position: absolute;
        bottom: 0;
        background-color: #FAFAFA;
        min-width: 514px;
        min-height: 278px;
    }

    .home__home--info p {
        @extend .Ibarra;
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357143px;
        color: #33323D;
        width: 458px;
        height: 126px; 
    }

    .home__home--info-btn {
        display: flex;
        align-items: center;
        width: 200px;
        height: 48px;
        background: rgba(32, 58, 76, 1);
        position: absolute;
        bottom: 0;
    }

    .home__home--info-btn span {
        display: flex;
        align-items: center;
        min-width: 48px;
        min-height: 48px;
        background: #0000003f;
        opacity: 0.5;
    }

    .home__home--info-btn span img {
        margin: 0 auto;
        width: 16px;
        height: 12px;
    }

    .home__home--info-btn p {
        @extend .Public_Seans;
        height: auto;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}