.contact__input-container {
    max-height: auto;
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(51, 50, 61, 0.171) ;

}

.contact__input-title {
    @extend .Ibarra;
    font-size: 40px;
    margin-top: 0;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D; 
}

.contact__input--form {
    margin-top: 0;
    max-width: 635px;
}

.contact__input--form-label p {
    @extend .Public_Seans;
    font-size: 13px;
    line-height: 30px;
    color: #1f1f24;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 635px;
    height: 30px;
}

.contact__input--form-label input, .contact__input--form-label textarea {
    @extend .Public_Seans;
    font-size: 13px;
    line-height: 30px;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 635px;
    height: 30px;
    background-color: #33323d40;
    border: none;
}

.contact__input--form-label:nth-child(3) textarea {
    height: 96px;
}

.contact__input--form-btn {
    @extend .Public_Seans;
    margin-top: 24px;
    width: 200px;
    height: 48px;
    background: #203A4C;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.contact__input--form-btn:hover {
    color: rgb(39, 45, 43);
    background-color: rgb(235, 223, 209);
}